APP_NAME=FiratSaglikTakip
APP_URL=http://localhost:3000

MONGODB_URI=mongodb+srv://USERNAME:PASSWORD@cluster.mongodb.net/?retryWrites=true&w=majority&appName=FiratSaglikTakip
MONGODB_DB_NAME=firat_saglik_takip

SESSION_SECRET=CHANGE_THIS_TO_A_LONG_RANDOM_SECRET
COOKIE_NAME=fst_session
DEFAULT_TIMEZONE=Europe/Istanbul

NODE_ENV=development